<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Vagabond Factory - Web Consulting Shop
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no", :name => "viewport"}
    %meta{:content => "telephone=no", :name => "format-detection"}
    %meta{:name => "theme-color", :content => "#325a3a"}
    %link{:href => "chrome-touch-icon-192x192.png", :rel => "icon", :sizes => "192x192"}
    %link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon-precomposed"}
    %link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "css/style.css", :rel => "stylesheet"}
  %body
    %article{:itemscope => "", :itemtype => "http://schema.org/Organization"}
      %h1{:itemprop => "name"} Vagabond Factory
      %h2 Web Consulting &amp; Development
      %aside
        %p
          %span{:itemprop => "telephone"} +358 44 9955 602
          %span{:itemprop => "email"} vagabond factory gmail com
          %span.hidden{:itemprop => "url"} http://vagabondfactory.com
          %span.hidden VAT number: FI07654321

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-1572586-2', 'auto');
      ga('send', 'pageview');

      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=d.createElement(s),
      e=d.getElementsByTagName(s)[0];z.set=function(o){z.set._.push(o)};z._=[];z.set._=[];$.async=!0;
      $.setAttribute("charset","utf-8");$.src="//v2.zopim.com/?2vVvg5iwAhHNYQFh0vG3I77GObQBGdLF";
      z.t=+new Date;$.type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
